.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid $gray-border;
    background-color: #fff;
    height: 75px;
    width: 100%;
    @media (max-width: $sm) {
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 3px;
        height: 135px;
    }

    .logo {
        margin: 0 15px;
        @media (max-width: $sm) {
            margin: 0;
            order: 1;
        }
    }

    .search {
        position: relative;
        width: 40%;
        max-width: 600px;
        @media (max-width: $sm) {
            order: 3;
            width: 95%;
            margin: 0 auto;
            max-width: initial;
        }
        
        input {
            position: relative;
            padding: 0 10px 0 37px;
            height: 47px;
            width: 100%;
            box-sizing: border-box;
            border-radius: 3px;
            border: 1px solid $gray-border;
            color: $color-gray;
            font-weight: 500;
            font-size: 16px;
        }

        .search-icon {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 13px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }

    .account {
        display: inline-block;
        margin: 0 25px;
        white-space: nowrap;
        @media (max-width: $sm) {
            margin: 0;
            order: 2;
        }

        a {
            margin: 0 15px;
            text-decoration: none;
            color: $primary-color;
            font-weight: bold;
            @media (max-width: $sm) {
                margin-left: 0;
            }
        }
    }
}