/*****************
Screen Breakpoints
******************/
$lg: 1022px;
$md: 896px;
$sm: 770px;

/*****
Colors
******/
$primary-color: #08c3ba;
$button-color: #00b4b3;
$color-gray: #8f8f8f;
$gray-border: #cdcdcd;